.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(20, 68, 63, 0.7);
    color: white;
    text-align: center;
    height: 50px;
    
}
#footerText{
 margin-top: 4px;
 color: rgb(95, 103, 117);
}